.nav{
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.nav li{
    position: relative;
  text-decoration: none;
  left: 802px;
  list-style: none;
  cursor: pointer;
  z-index: 10;
  display: flex;
}
.nav li a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right:47px;
    color:white;
    cursor: pointer;
}
.nav img{
    margin-left: 40px;
    width:100px;
    height: 100px;
}